.latest-articles-section {
  width: 98%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.latest-articles-title {
  font-size: 38px;
  font-weight: bold;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-top: 20px;
  padding-left: 30px;
}

.latest-articles-list {
  margin-top: 10px;
}

.latest-article-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  padding-left: 30px;
}

.latest-article-content {
  display: flex;
  flex: 3;
}

.latest-article-meta {
  font-size: 14px;
  color: #777;
  width: 150px;
}

.latest-article-info {
  flex-direction: column;
}

.latest-article-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 5px 0;
  cursor: pointer;
}

.latest-article-title:hover {
  text-decoration: underline;
}

.latest-article-authors {
  font-size: 14px;
  color: #444;
}

.latest-article-image {
  flex: 1;
  text-align: center;
}

.latest-article-image img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}
