.ppr-submitted-container{
    grid-column: span 12;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #d6d3d1;
    margin-top: 20px;
}

.ppr-submitted-title{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
    font-weight: 500;
}

.ppr-submitted-table{
    width: 100%;
    table-layout: auto;
    border: 1px solid #d6d3d1;
    border-collapse: collapse;
}

.ppr-submitted-table-btn-section{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.ppr-submitted-prev-btn,
.ppr-submitted-next-btn{
    font-size: 14px;
    line-height: 1.43;
    padding: 4px 12px;
    border-radius: 4px;
    border-width: 1px;
    border-style: var(--tw-border-style);
}