.about-reviewer-page-container {
    width: 60%;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .about-reviewer-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-reviewer-section,
  .reviewer-duties-section,
  .reviewer-benefits-section,
  .reviewer-eligibility-section {
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .about-reviewer-page-container h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-reviewer-section, .reviewer-eligibility-section p, ul {
    font-size: 18px;
    line-height: 30px;
  }
  
  .reviewer-benefits-section, 
  .reviewer-duties-section 
  ul {
    padding-left: 20px;
  }
  
  .reviewer-benefits-section,.reviewer-duties-section 
  ul li {
    margin-bottom: 8px;
  }
  
  .apply-reviewer-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .apply-reviewer-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply-reviewer-button:hover {
    background: #0056b3;
  }
  