.info-container{
    margin: 50px 350px 0 350px;
}

.info-header{
    font-size: 32px;
    font-weight: 700;
}

.info-header-2{
    font-size: 24px;
    font-weight: 700;
}

.info-sub-container{
    margin-top: 10px;
    padding: 0 10px;
}

.info-para{
    font-size: 18px;
    margin-bottom: 28px;
    line-height: 32px;
}