.reviewer-form-container {
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
}


.reviewer-title-section {
  text-align: center;
  margin-bottom: 20px;
}

.reviewer-form-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.reviewer-form-text {
  font-size: 14px;
  margin-bottom: 15px;
}

.reviewer-form-link {
  color: #003366;
  font-weight: bold;
  cursor: pointer;
}

.reviewer-name-section,
.reviewer-contact-section,
.reviewer-info-section,
.reviewer-password-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.reviewer-name-section div,
.reviewer-contact-section div,
.reviewer-info-section div,
.reviewer-password-section div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.reviewer-name-section div label,
.reviewer-contact-section div label,
.reviewer-info-section div label,
.reviewer-password-section div label,
.reviewer-textarea-section div label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.reviewer-name-input,
.reviewer-textarea-input,
.reviewer-password-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.reviewer-textarea-input {
  min-height: 80px;
  resize: vertical;
}

.reviewer-register-btn {
  width: 40%;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #003366;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reviewer-register-btn:hover {
  background-color: #00509e;
}

.reviewer-register-center-button{
  display: flex;
  justify-content: center;
}